.header_top_row{
	display: flex;
	justify-content: space-between;
	max-width: 100%;
	padding: 10px;
	z-index: 100;
}
.block_row{
	cursor: pointer;
	display: flex;
	gap: 5px;
	z-index: 500;
	align-items: center;
}
.block_colum{
	text-align: center;
	gap: 6px;
	display: flex;
	flex-direction: column;
}
.block_colum_gap{
	display: flex;
	flex-direction: column;
	gap: 6px;
}
.icon_img{
	max-width: 26px;
	max-height: 26px;
	border-radius: 50%;
}
.block_icon_text{
	color: white;
}