.filter_block_bg{
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
	z-index: 1000;
}
.filter_block_background{
  position: relative;
}