.second_footer_product_block{
	width: 23%;
}
.second_footer_product_block_wrapper{
	width: 100%;
	height: 100%;
}
.second_footer_product_block_img{
	width: 468px;
	height: 468px;
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
  	object-position: center;
}
.second_footer_product_block_info{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.second_footer_product_block_info_title{
	text-decoration: none;
	color: #3A3A3A;
	font-family: Inter;
	font-size: 22px; 
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.second_footer_product_block_info_subtitle{
	color: #9D9D9D;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.second_footer_product_block_info_sell{
	display: flex;
	color: var(--black, #3A3A3A);
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: capitalize;
}
.second_footer_product_block_info_sell_row{
	display: flex;
	justify-content: space-between;
}
.second_footer_product_block_info_cost_row{
	display: flex;
	gap: 6px;
	justify-content: space-between;
}
.costIconVisibility{
	opacity: 100%;
}
.costIconUnVisibility{
	opacity: 30%;	
}
.ghostTegBunch{
	margin-top: 10px;
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.ghostTeg{
	color: var(--white, #FFF);
	font-family: Inter;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 6px 16px;
	background: #36363666;
}
.swiper-pagination{
	align-items: center;
	text-align: center;
}
.swiper-pagination-bullet{
	background-color: #8D96A4;
}
.swiper-pagination-bullet-active{
	background-color: #FFFFFF;
}
.second_footer_product_block_img_swiper{
	width: 100%;
}
@media screen and (max-width: 2200px){
	.second_footer_product_block_img{
		width: 400px;
		height: 400px;
	}
}
@media screen and (max-width: 2000px){
	.second_footer_product_block_img{
		width: 350px;
		height: 350px;
	}
}
@media screen and (max-width: 1440px){
	.second_footer_product_block_img{
		width: 100%;
		height: 100%;
	}
	.second_footer_product_block_wrapper{
		width: 49vw;
		height: 49vw;
	}
	.second_footer_product_block{
		width: 48.5%;
	}
	.second_footer_product_block_info{
		padding: 10px 20px;
	}
	.second_footer_product_block_img_swiper{
		width: 100%;
		max-width: 900px;
	}
}
@media screen and (max-width: 800px){
	.second_footer_product_block_wrapper{
		width: 100vw;
		height: 100vw;
	}
	.second_footer_product_block{
		width: 100%;
	}
}