.middle_top_filter_wrapper{
	max-width: 100%;
}
.middle_top_row_filter_block{
	max-width: 320px;
	border-radius: 4px;
	background: white;
	position: absolute;
	width: 100%;
	padding: 1%;
	z-index: 1001;
}
.middle_top_row_filter_block_colum{
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.middle_top_row_filter_block_row{
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	border-bottom: 1px solid #9D9D9D;
	padding-bottom: 15px;
}
.middle_top_row_filter_block_filter_title{
	color: #9D9D9D;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
}
.middle_top_row_filter_block_filter_exit{
	cursor: pointer;
}

.choose_selection_block_input_block{
	display: flex;
	flex-direction: column;
	gap: 7px;
}
.choose_selection_block{
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.choose_selection_block_title{
	color: #3A3A3A;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.choose_selection_block_input_colum{
	border-radius: 4px;
	border: 1px solid #E6E6E6;
	display: flex;
	flex-direction: column;
}
.choose_selection_block_input_row{
	cursor: pointer;
	padding: 10px 13px;
	border-radius: 4px;
	border: 1px solid #E6E6E6;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.choose_selection_block_input_title{
	color: #3A3A3A;
	font-family: Inter;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.choose_selection_block_input_colum_row{
	padding: 10px 13px;
	display: flex;
	align-items: center;
	gap: 10px;
	border-bottom: 1px solid #E6E6E6;
}
.choose_selection_block_input_colum_row_input{
	border-radius: 0;
	width: 20px;
	height: 20px;
}

@media screen and (max-width: 1024px){
	.middle_top_row_filter_block{
		width: 96%;
		padding: 2%;
		top: 40px;
	}
	.middle_top_row_filter_block{
		max-width: 100%;
		position: absolute;
	}
}